# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# SQLite database files
*.db

# Environment variables
.env

node_modules/
frontend/node_modules/
frontend/.vite/

# Backend
app/.env

# Frontend
frontend/.env